
  * {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 1;
  }
header {
  display: flex;
   justify-content: space-between;
   align-items: flex-end;
   font-size: 1.65rem;
   color: white;
}
#timer{
  width: fit-content;
}
article {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  
}
article h1 {
  font-size: 2.4rem;
}

section {

}
section p {
  padding-top: 20px


}
  header, footer {
    background: rgb(71, 200, 240);
    height: 10vh;
  }
  header, footer, article {
    padding: 1em;
  }

footer {
display: flex;
justify-content: center;

}

footer {
  font-size: 1.2rem;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {

}
  /* Classes */

.high-scores a {
 text-decoration: none;
color: white;
}

.high-scores a:hover {
 text-decoration: none;
opacity: 70%;
}
